.blog {
  width: 300px;
  background-color: transparent !important;
  border: 0 !important;
}

.blog img {
  height: 250px;
}

.blog a {
  text-decoration: none;
  color: rgb(220, 53, 106);
  width: 40%;
}

.blog a:hover {
  color: white;
}

.blog h5 {
  color: black;
}

.blog .card-text {
  text-align: justify;
}

.read-more {
  width: 40%;
}

.blog h1 {
  padding: 1rem 0 0 0;
  text-align: center;
}
