.gallery-image {
  height: 300px;
  width: 500px;
  background-color: black;
  border: 10px solid black;
  transition: 0.3s;
  padding-top: 0;
}

.gallery-image:hover {
  box-shadow: 10px 10px 5px rgb(143, 142, 142);
  transform: scale(1.1);
  transition: 0.3s;
}

.gallery-image img {
  object-fit: cover !important;
  height: 280px;
  width: 480px;
}
