.img {
  height: 200px;
  width: 200px;
  transition: all 0.5s;
}

.img img {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 200px;
  max-height: 200px;
  opacity: 1;
}

.img:hover {
  transform: scale(1.2);
  transition: all 0.5s;
}

.img:hover > img {
  opacity: 1;
  transition: all 0.5s;
}

#nalco {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 300px;
  max-height: 300px;
}

.cf {
  max-width: 180px;
  max-height: 180px;
}

.cf img {
  max-width: 180px;
  max-height: 180px;
}

@media only screen and (max-width: 576px) {
  #nalco {
    max-width: 260px;
    max-height: 260px;
  }
}
