* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1em;
}

html,
body {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "lemon_milkmedium";
  src: url("../fonts/lemonmilkmedium-mlzyv-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

.loader-bg {
  position: fixed;
  background-color: #eaeaea !important;
  height: 100%;
  width: 100%;
}

.preloader {
  position: absolute;
  top: 50%;
  left: 50%;
  height: auto;
  transform: translate(-50%, -50%);
}

#loading {
  color: black;
  font-family: "Fredoka One", cursive;
}

.preloader img {
  animation: rotate 2s infinite linear;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0 !important;
  width: 0;
  height: 100vh !important;
  z-index: 1;
  text-align: center;
  background-color: black;
  overflow: hidden !important;
}

.sidebar-in {
  position: relative;
  width: 320px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  height: auto;
}

.sidebar-in a {
  display: block;
  text-decoration: none;
  font-size: 1.5em;
  font-family: "lemon_milkmedium";
  color: white;
  line-height: 2.5em;
  text-transform: uppercase;
  font-weight: normal;
}

.sidebar-in a::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  height: 2.5em;
  width: 0;
  background-color: rgb(240, 0, 0);
  transition: 0.5s;
  margin-left: 60px;
}

.sidebar-in a:hover::before {
  width: 200px;
  transition: 0.5s;
}

.sidebar-in a:hover {
  color: white;
  transition: 0.5;
}

.fa-arrow-left {
  color: white;
  font-size: 2em;
  position: absolute;
  right: 0;
  padding: 0.75em;
}

.fa-arrow-left:hover {
  color: rgb(240, 0, 0);
  transform: translateX(-20px);
  transition: 0.5s;
}

.main {
  position: relative;
  margin-left: 0;
  background-color: #eaeaea;
  min-width: 100%;
  display: none;
}

.top-slider {
  background-color: white;
  height: auto;
}

.top-slider img {
  max-height: 600px;
}

.main p {
  font-family: "Roboto", sans-serif;
}

.cover-image img {
  object-fit: cover;
}

.fa-bars {
  color: black;
  position: fixed;
  padding: 0.25em;
  font-size: 2em;
  z-index: 999;
  border-radius: 0.2em;
}

.fa-bars:hover {
  color: rgb(240, 0, 0);
  transition: 0.5s;
}

.main h1 {
  font-family: "lemon_milkmedium";
  color: black;
  padding: 2em 2em 0 2em;
}

.hr {
  opacity: 1;
  height: 6px !important;
  color: red;
  width: 7em;
  margin-left: 6em;
  margin-bottom: 2em;
}

.info-icons {
  font-size: 5em;
}

.form-group input {
  background-color: rgb(214, 219, 223);
  min-width: 280px;
}
.form-group textarea {
  background-color: rgb(214, 219, 223);
  min-width: 280px;
}

.footer {
  background-color: #252525;
  color: white;
  min-width: 100%;
}

.footer h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
  font-family: arial;
  padding-left: 0;
}

.footer p {
  font-size: 0.9em !important;
}

.footer .manager-contact {
  font-size: 0.8em;
}

.footer .fa-phone-alt {
  font-size: 0.8em;
}

.footer .fa-envelope {
  font-size: 0.8em;
}

.footer .fa-map-marker-alt {
  font-size: 0.8em;
}

.footer span {
  font-family: sans-serif;
  font-size: 0.9em;
  font-weight: normal;
  color: #eaeaea;
}

.map iframe {
  margin: 0;
  height: 250px;
  width: 95%;
  background-color: #eaeaea;
}

#footer-links {
  font-size: 1.1rem;
  color: grey;
}

.footer .social-media {
  text-align: center;
}

.footer .social-media a {
  color: white;
  text-decoration: none;
  font-size: 1.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.fa-paper-plane {
  color: white;
}

/* .close1 {
  margin-left: 0;
  transition: 0.5s;
}

.close2 {
  width: 0;
  transition: 0.5s;
} */

/* @media only screen and (max-width: 500px) {
  .flip-card {
    height: 300px;
    width: 200px;
  }

  .flip-card-base img {
    height: 100px;
  }
} */
@media only screen and (max-width: 576px) {
  body {
    overflow: auto;
  }

  .main h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-align: center;
  }
  .hr {
    margin: 0 auto;
    margin-bottom: 2em;
  }

  .footer h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-align: left;
    padding-left: 1rem;
  }
  .footer .map {
    padding-left: 1rem;
  }
  .manager-contact {
    text-align: left !important;
    padding-left: 1rem;
  }
  .footer i {
    padding-left: 1rem;
  }
  .footer .input-group {
    padding-left: 1rem;
  }

  .footer hr {
    margin: 2rem auto !important;
  }
}
