@font-face {
  font-family: "lemon_milkmedium";
  src: url("../fonts/lemonmilkmedium-mlzyv-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "pirulen";
  src: url("../fonts/pirulen_rg-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1em;
}

html,
body {
  height: 100%;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 0;
  height: 100vh;
  z-index: 1;
  text-align: center;
  background-color: black;
  overflow: hidden;
}

.sidebar-in {
  position: relative;
  width: 320px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  height: auto;
}

.sidebar-in a {
  display: block;
  text-decoration: none;
  font-size: 1.5em;
  font-family: "lemon_milkmedium";
  color: white;
  line-height: 2.5em;
  text-transform: uppercase;
  font-weight: normal;
}

.sidebar-in a::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  height: 2.5em;
  width: 0;
  background-color: rgb(240, 0, 0);
  transition: 0.5s;
  margin-left: 60px;
}

.sidebar-in a:hover::before {
  width: 200px;
  transition: 0.5s;
}

.sidebar-in a:hover {
  color: white;
  transition: 0.3;
}

.sidebar .fa-arrow-left {
  color: white;
  font-size: 2em;
  position: absolute;
  right: 0;
  padding: 0.75em;
}

.sidebar .fa-arrow-left:hover {
  color: rgb(240, 0, 0);
  transform: translateX(-10px);
  transition: 0.3s;
}

.sidebar .tklogo {
  height: 100px;
}

.loader-bg {
  position: fixed;
  background-color: #eaeaea;
  height: 100%;
  width: 100%;
}

.preloader {
  position: absolute;
  top: 50%;
  left: 50%;
  height: auto;
  text-align: center;
  transform: translate(-50%, -50%);
}

.preloader h3 {
  color: black;
  font-family: "Fredoka One", cursive;
}

.preloader img {
  animation: rotate 2s infinite linear;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.fa-bars {
  color: rgba(255, 0, 0, 0.822);
  position: fixed;
  padding: 0.25em;
  font-size: 2em;
  z-index: 999;
  border-radius: 0.2em;
}

.fa-bars:hover {
  color: rgb(240, 0, 0);
  transition: 0.3s;
  cursor: pointer;
}

.main {
  position: relative;
  margin-left: 0;
  background-color: #eaeaea;
  min-width: 100%;
  display: none;
}

.top-slider {
  background-color: white;
  height: auto;
}

.top-slider img {
  max-height: 600px;
}

.main p {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
}

.cover-image img {
  object-fit: cover;
}

.parallax {
  background-image: url("../images/cover-image.jpg");
  height: 740px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.cover-text img {
  position: absolute;
  display: none;
  right: 2rem;
  height: 15rem;
}

.parallax a {
  color: white;
  position: absolute;
  bottom: 0;
  padding: 20px 0;
  width: 100%;
  transition: 0.3s;
}

.parallax .fa-arrow-down {
  font-size: 2.2em;
}

.parallax .fa-arrow-down {
  animation: move-down 0.5s infinite alternate;
}

@keyframes move-down {
  from {
    transform: translateY(0px);
  }

  to {
    transform: translateY(10px);
  }
}

.parallax p {
  font-family: "pirulen" !important;
  margin: 0;
  padding-right: 3rem;
  text-align: right;
  font-size: 3rem;
  color: rgb(248, 248, 248);
}

.parallax a:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
}

.mobile-cover {
  display: none;
}

.main h1 {
  font-family: "lemon_milkmedium";
  color: black;
  padding: 2em 2em 0 2em;
}

.hr {
  opacity: 1;
  height: 6px !important;
  color: red;
  width: 7em;
  margin-left: 6em;
  margin-bottom: 1em;
}

#fs-image {
  width: 750px;
}

.info-icons {
  position: relative;
  font-size: 4.5em;
  z-index: 2;
  text-align: center;
  padding: 2rem !important;
}

.info-icons h2 {
  font-size: 2.5rem;
  padding: 0;
  color: black;
  background-color: #eaeaea;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.info-icons h3 {
  position: relative;
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  margin-top: -2em;
  padding: 0 0 1rem 0;
  z-index: -1;
  transition: 0.5s;
  text-align: center;
}

.info-icons:hover > h3 {
  transform: translateY(2em);
  color: black;
}

.form-group input {
  background-color: rgb(214, 219, 223);
  min-width: 280px;
}

.form-group textarea {
  background-color: rgb(214, 219, 223);
  min-width: 280px;
}

.footer {
  background-color: #252525;
  color: white;
  min-width: 100%;
}

.footer h1,
.footer h2,
.footer h3,
.footer h4,
.footer h5,
.footer h6,
.footer p {
  color: white;
  font-family: arial;
  padding-left: 0;
}

.footer p {
  font-size: 0.9em !important;
}

.footer .manager-contact {
  font-size: 0.8em;
}

.footer .fa-phone-alt {
  font-size: 0.8em;
}

.footer .fa-envelope {
  font-size: 0.8em;
}

.footer .fa-map-marker-alt {
  font-size: 0.8em;
}

.footer span {
  font-family: sans-serif;
  font-size: 0.9em;
  font-weight: normal;
  color: #eaeaea;
}

.map iframe {
  margin: 0;
  height: 250px;
  width: 95%;
  background-color: #eaeaea;
}

#footer-links {
  font-size: 1.1rem;
  color: grey;
}

.footer .social-media {
  text-align: center;
}

.footer .social-media a {
  color: white;
  text-decoration: none;
  font-size: 1.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.fa-paper-plane {
  color: white;
}

#newsletter_form input {
  width: 85%;
  display: inline;
}

@media only screen and (max-width: 576px) {
  body {
    height: 100%;
    width: 100%;
  }

  .parallax {
    display: none;
  }

  .mobile-cover {
    display: inherit;
  }

  .main h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-align: center;
  }

  .main h1 {
    font-size: 1.9rem;
  }

  .hr {
    margin: 0 auto;
    margin-bottom: 1rem;
  }

  .footer h1,
  .footer h2,
  .footer h3,
  .footer h4,
  .footer h5,
  .footer h6 {
    text-align: left;
    padding-left: 1rem;
  }

  .footer .map {
    padding-left: 1rem;
  }

  .footer .manager-contact {
    text-align: left !important;
    padding-left: 1rem;
  }

  .footer i {
    padding-left: 1rem;
  }

  .footer .input-group {
    padding-left: 1rem;
  }

  .footer hr {
    margin: 2rem auto !important;
  }
}
